/* variables */
:root {
    --brd_clr: rgba(128, 128, 128, 0.394);
}

/* default */
body{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'EB Garamond';
}

/* setts of navbar */
header{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--brd_clr);
    display: flex;
    justify-content: space-between;
}

/* setting elements of navbar  */
.logo{
    margin-left: 50px;
}

.ltop{
    display: flex;
    align-items: baseline;
    width: 460px;
    justify-content: space-between;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

.burg

.rtop{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-right: 50px;
}

/* setting first block  */
.greet{
    height: 870px;
    width: 100%;
}

.r_greet{
    width: 50%;
    float: right;
    height: 870px;
}

.txt_greet{
    width: 80%;
    height: 450px;
}

.fx_greet{
    width: 50%;
    height: 870px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h1_greet{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 25px;
}

.lorem_greet{
    font-size: 25px;
}

.lorem_lw_greet{
    font-size: 18px;
}
.start{
    width: 100px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--brd_clr);
    font-size: 15px;
    background-color: #fff;
}

/* second page  */

.expl_1{
    width: 100%;
    height: 500px;
    border-top: 1px solid var(--brd_clr);
}


.sec_pg_img{
    width: 33%;
    height: 500px;
    float: left;
}

.fx_txt_2pg{
    width: 67%;
    height: 500px; 
    float: right;  
    display: flex; 
    justify-content: center;
    align-items: center;
}

.txt_2pg{
    width: 80%;
    height: 300px;
}

.h1_sec_pg{
    font-size: 30px;
}

.txt_lw_2pg{
    font-size: 18px;
}

/* third page  */
.third_pg_img{
    width: 33%;
    height: 500px;
    float: right;
}

.frth_page{
    height: 400px;
    width: 100%;
}

.h1_frth_pg{
    font-size: 30px;
    border-top: 1px solid var(--brd_clr);
    text-align: center;
    line-height: 90px;
    margin-top: 0;
}

.left{
    z-index: 10;
    position: absolute;
    height: 100px;
    width: 100px;
}

.gallery{
    width: 100%;
    height: 372px;
    display: flex;
    justify-content: space-around;
}

/* .img_4{
    height: 350px;
    padding: 0;
} */

/* fth page  */

.fth_page{
    width: 100%;
    height: 928px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1_fth_pg{
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    margin-top: 150px;
}

.fx{
    width: 85%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height: 400px;
    width: 33%;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.p{
    width: 67%;
}

.bord1{
    border-right: 1px solid var(--brd_clr);
    border-bottom: 1px solid var(--brd_clr);
}

.bord2{
    border-right: 1px solid var(--brd_clr);
    border-bottom: 1px solid var(--brd_clr);
}

.bord3{
    border-bottom: 1px solid var(--brd_clr);
}

.bord4{
    border-right: 1px solid var(--brd_clr);
}

.bord5{
    border-right: 1px solid var(--brd_clr);
}


/* 6th page  */
.sth_page{
    width: 100%;
    height: 990px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--brd_clr);
}

.h1_sth_pg{
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    margin-top: 190px;
}

.form{
    width: 70%;
    height: 650px;
    line-height: 30px;
}

.fst{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 100%;
    height: 30px;
}

.lab_sm{
    width: 30%;
    
}

.label{
    width: 31%;
    float: left;
    height: 30px;
    margin-bottom: 0;
}

.lab_cont{
    display: flex;
    line-height: 60px;
}

.opt{
    width: 100.5%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}

.mess{
    margin-top: 25px;
}

.rt{
    float: left;
}

.lt{
    float: right;
}

.send{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--brd_clr);
    font-size: 20px;
    background-color: #fff;
}

.txt_ar{
    width: 100%;
}

/* footer  */
footer{
    width: 100%;
    height: 160px;
}

.box_f{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxs{
    margin-top: 45px;
    width: 290px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.images_foot{
    height: 40px;
}

.overall{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 850px){
    .rtop{
        display: none;
    }
    header{
        display: flex;
        justify-content: center; 
    } 
    .greet{
        height: 700px;
    }
    .r_greet{
        height: 700px;
    }
    .fx_greet{
        align-items: normal;
        margin-top: 50px;
        height: 650px;
    }
    .lorem_greet{
        font-size: 18px;
    }
    .sec_pg_img{ 
        width: 50%; 
        height: 500px; 
        float: left; 
    } 
    .fx_txt_2pg{ 
        width: 50%; 
        height: 450px;  
        align-items: normal;
        margin-top: 40px;
    } 
    .p{ 
        width: 50%; 
    } 
    .third_pg_img{ 
        width: 50%; 
        height: 500px; 
        float: right; 
    } 
    .im_n1{ 
        display: none; 
    } 
    .im_n2{ 
        display: none; 
    } 
    .h1_sec_pg{ 
        margin-top: 0; 
        margin-bottom: 10px; 
    } 
    .fx{ 
        width: 100%; 
        height: 1600px; 
        display: flex; 
        flex-wrap: wrap; 
        flex-direction: column;
    } 
    .fth_page{ 
        width: 100%; 
        height: 1328px; 
    } 
    .box{
        width: 50%;
    }
    .bord3{
        border-right: 1px solid var(--brd_clr);
        border-bottom: 0;
    }
    
    .bord4{
        border-bottom: 1px solid var(--brd_clr);
        border-right: 0;
    }
    
    .bord5{
        border-bottom: 1px solid var(--brd_clr);
        border-right: 0;
    }
} 
@media screen and (max-width: 600px){
    .no{
        display: none;
    }
    .lrtop{
        height: 50px;
        width: 50px;
        border: 1px solid;
        /* margin-right: 10px; */
        border-radius: 5px;
        display: flex;
    }
}